PRINT: 2

TIME_STEP: {{ dt }}
TIME_STOP: {{ simulation_time_stop }}

CDIST: 50
CPITCH: 0
CYAW: 180
DEBUG: 0
OBJECT: 0
ACTIVE: true
WHISKER_PARAMS_DIR: "data/whisker_param_resonance/"
file_whisking_init_angle: "whisking_init_angle.csv"
file_whisking_angle: "whisking_trajectory.csv"
WHISKER_NAMES: ["RC1"]
dir_rathead: ""   # headless!
SAVE_VIDEO: false
file_video: "../output/video_wall.mp4"

SAVE: true			# save results to csv file
dir_out: "../output/resonance"
